<!-- state.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>UPS Status</title>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h3>{{ volt_in }}</h3>
                Line [V]
            </div>
            <div class="col">
                <h4>{{ load_ups }}</h4>
                Load [%]
            </div>
            <div class="col">
                <h3>{{ charge_bat }}</h3>
                Charge [%]
            </div>
            <div class="col">
                <h3>{{ run }}</h3>
                Runtime [']
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <img class="img-fluid" src="{{ volt_in_img }}">
        <img class="img-fluid" src="{{ run_img }}">
        <img class="img-fluid" src="{{ charge_bat_img }}">
    </div>
</div>

</body>
</html>

